
html {
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
    /* overflow: hidden!important; */
    background-color: #f5f5f5;
    scroll-behavior: smooth;
  }
  body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    min-width: 100%;
    background-color: #f5f5f5;
    /* color: #eceaea; */
  }
  .my_dataviz {
    border: 1px solid red;
    height: 500px;
    width: 100%;
  }
  .bubble {
    stroke-width: 1px;
    stroke: rgb(34, 34, 34);
    opacity: .8
  }
  .bubble:hover {
    /* stroke: rgb(219, 88, 88); */
    fill: rgba(219, 88, 88, .8);
  }
  .x-axis {
    border: 1px solid red;
  }
  .first-d3-tip {
    /* line-height: 1; */
    width: min-content;
    font-weight: bold;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 15px;
    padding-right: 15px;
    white-space: nowrap;
    background: #fafafa;
    /* color: #050609; */
    color: #323648;
    margin: 0;
    font-family: Avenir,  Lato,Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: .8rem;
    border-radius: 3px;
    box-shadow: 0px 1px 5px rgba(34, 34, 34, 0.3);
  }
.tip-wrapper {
  display: flex;
  flex-direction: column;
}