
html {
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
    /* overflow: hidden!important; */
    background-color: #f5f5f5;
    scroll-behavior: smooth;
  }
  body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    min-width: 100%;
    background-color: #f5f5f5;
    /* color: #eceaea; */
  }
  .my_dataviz {
    border: 1px solid red;
    height: 500px;
    width: 100%;
  }
  .bubbles {
    stroke-width: 1px;
    stroke: black;
    opacity: .8
  }
  .bubbles:hover {
    stroke: black;
  }